<div class="row">
  <div class="col-md-6">
    <h2>Approved Current Users:</h2>
    <ul>
      <% @users.where(approved: true).each do |user| %>
        <li><%= link_to user.nickname, edit_user_path(user.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Waiting to be approved:</h2>
    <ul>
      <% @users.where(approved: false).each do |user| %>
        <li><%= user %></li>
        <li>
          <%= user.fullname %> -
          <%= link_to "Approve", '#', class: 'btn btn-success' %>
          <%= link_to "Delete", '#', method: :delete, class: 'btn btn-danger',
            data: { confirm: "Are you sure you want to remove this unapproved user?" } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
