<div class="row">
  <div class="col-md-8">
    <h1><%= @user.nickname %><small> - <%= @user.role %> user</small></h1>
    <p>
      <%= link_to 'Edit profile', edit_user_registration_path %>:
      <%= @user.fullname %>: <%= @user.phone %> | <%= @user.email %>
    </p>

    <hr/>

    <%= render partial: 'search_results/search_form' %>
  </div>
  <div class="col-md-4">
    <h3>Callbacks</h3>
  </div>
</div>
