<div class="row">
  <div class="col-md-8">
    <h1><%= @user.nickname %><small> - <%= @user.role %> user</small></h1>
    <p>
      <%= link_to 'Edit profile', edit_user_registration_path %>:
      <%= @user.fullname %>: <%= @user.phone %> | <%= @user.email %>
    </p>

    <hr/>
    <% unless current_user.standard? %>
      <%= render partial: 'search_results/search_form' %>

      <hr/>
    <% end %>

    <h3>Your Sales this week:</h3>
    <ul>
      <% Sale.where(date: Time.now.beginning_of_week..Time.now, user: @user).each do |sale| %>
        <li><%= "#{sale.date.strftime("%-m/%-d")}: #{sale.lead.name1}, $#{sale.amount}" %> - <%= sale.lead.source_code %></li>
      <% end %>
    </ul>
    <h4>Total: $<%= @user.week_total %></h4>
  </div>
  <div class="col-md-4 user-callbacks">
    <h3>Callbacks: <%= "none" if Recall.where(user: @user).count == 0 %></h3>
    <% Recall.where(user: @user).each do |cb| %>
      <div>
        <% if cb.user == current_user %>
          <span class="cb-remove">
            <%= link_to "", cb, method: :delete, class: 'glyphicon glyphicon-remove' %>
          </span>
        <% end %>
        <p class="cb-name"><%= link_to cb.lead_name1, campaign_lead_path(cb.lead_campaign_id, cb.lead) %></p>
        <p class="cb-campaign"><%= "#{cb.lead_campaign.name}  #{cb.lead_source_code}" %></p>
        <p><strong>CB: <%= cb.time.strftime("%-m/%-d") %></strong> <%= "#{cb.notes}" %></p>
      </div>
    <% end %>
  </div>
</div>
