<div class="row lead-title">
  <div class="col-md-8">
    <h1><%= link_to @lead.campaign_name, campaign_path(@campaign) %></h1>
  </div>
  <div class="col-md-4">
    <p><%= @lead.campaign_callback_phone %> // dial code: <%= @lead.campaign_code %><br/>
    <%= @lead.campaign_notes %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
    <table class="phone-numbers">
      <thead>
        <tr><td>phone 1</td><td>phone 2</td><td>phone 3</td></tr>
      </thead>
      <tbody>
        <tr>
          <% if @lead.phone1 %>
            <td>
              <% if @lead.phone1[0] == 'd' %>
                <span class="disconnected-phone"><%= @lead.phone1[1..-1] %></span>
              <% else %>
                <%= @lead.phone1 %>
                <%= form_for [@campaign, @lead], method: :patch do |f| %>
                  <%= f.hidden_field :phone1, :value => "d#{@lead.phone1}" %>
                  <%= button_tag(type: 'submit', class: 'btn btn-danger') do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <% if @lead.phone2 %>
            <td>
              <% if @lead.phone2[0] == 'd' %>
                <span class="disconnected-phone"><%= @lead.phone2[1..-1] %></span>
              <% else %>
                <%= @lead.phone2 %>
                <%= form_for [@campaign, @lead], method: :patch do |f| %>
                  <%= f.hidden_field :phone2, :value => "d#{@lead.phone2}" %>
                  <%= button_tag(type: 'submit', class: 'btn btn-danger') do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <% if @lead.phone3 %>
            <td>
              <% if @lead.phone3[0] == 'd' %>
                <span class="disconnected-phone"><%= @lead.phone3[1..-1] %></span>
              <% else %>
                <%= @lead.phone3 %>
                <%= form_for [@campaign, @lead], method: :patch do |f| %>
                  <%= f.hidden_field :phone3, :value => "d#{@lead.phone3}" %>
                  <%= button_tag(type: 'submit', class: 'btn btn-danger') do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <p class="lead-contact">
      <%= @lead.name1 %> <% if @lead.name2 %>&amp; <% @lead.name2 %><% end %><br/>
      <%= @lead.address1 %> <%= @lead.address2 %><br/>
      <%= @lead.city %>, <%= @lead.state %> &nbsp; <%= @lead.zip %>
    </p>



    <table class="phone-numbers">
      <tr>
        <td><%= @lead.source_code %></td>
        <% if @lead.account %>
          <td># <%= @lead.account %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="col-md-4 status">
    <%= lead_status(@lead) %>
    <% if !(@lead.killed? || @lead.disconnected?) %>
      <%= render partial: 'lead_actions', locals: { campaign: @campaign, lead: @lead } %>
    <% end %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
    <h3>callback stuff</h3>
  </div>
  <div class="col-md-4">
    <% if @lead.day_lead? %>
    <%= link_to "Day Leads | Next Lead >>",
      campaign_lead_path(@campaign, @campaign.next_lead('day')),
      class: 'btn btn-success btn-lg' %>
    <% else %>
      <%= link_to "#{@lead.source_code} | Next Lead >>",
        campaign_lead_path(@campaign, @campaign.next_lead(@lead.source_code)),
        class: 'btn btn-success btn-lg' %>
      <% end %>
  </div>
</div>
