<div class="row lead-title">
  <div class="col-md-8">
    <h1><%= link_to @lead.campaign_name, campaign_path(@campaign) %></h1>
  </div>
  <div class="col-md-4">
    <p><%= @lead.campaign_callback_phone %> // dial code: <%= @lead.campaign_code %><br/>
    <%= @lead.campaign_notes %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
    <table class="phone-numbers">
      <thead>
        <tr><td>phone 1</td><td>phone 2</td><td>phone 3</td></tr>
      </thead>
      <tbody>
        <tr>
          <% [@lead.phone1, @lead.phone2, @lead.phone3].each_with_index do |number, i| %>
          <td>
            <% if number && number[0] == 'd' %>
              <span class="disconnected-phone"><%= number[1..-1] %></span>
            <% elsif number %>
              <%= number %>
              <%= form_for [@campaign, @lead], method: :patch do |f| %>
                <%= f.hidden_field :"phone#{i + 1}", :value => "d#{number}" %>
                <%= button_tag(type: 'submit', class: 'btn btn-danger') do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <section class="lead-contact">
      <p><%= "#{@lead.name1} #{@lead.name2}" %></p>
      <p><%= @lead.address1 %> <%= @lead.address2 %></p>
      <p><%= @lead.city %>, <%= @lead.state %> &nbsp; <%= @lead.zip %></p>
    </section>



    <table class="phone-numbers">
      <tr>
        <td><%= @lead.source_code %></td>
        <td># <%= @lead.account || '(n/a)' %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 status">
    <%= lead_status(@lead) %>
    <% unless @lead.killed? || @lead.disconnected? %>
      <%= render partial: 'lead_actions', locals: { campaign: @campaign, lead: @lead } %>
    <% end %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
    <% if Callback.find_by(lead: @lead) %>
      <%= render partial: 'callbacks/edit_callback', locals: { lead: @lead } %>
    <% else %>
      create callback
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "#{next_lead_button(@lead)} | Next Lead >>",
      campaign_lead_path(@campaign, @campaign.next_lead(@lead)),
      class: 'btn btn-success btn-lg' %>
  </div>
</div>
