<div class="row">
  <div class="col-md-8">
    <h1>LeadSnap </h1>
    <p>Simply serves up leads!</p>
  </div>
  <div class="col-md-4">

    <h3>Sign In</h3>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <p><%= link_to "About LeadSnap", about_path %></p>
    </div>
  </div>
</div>
