<%= form_for Recall.new do |f| %>
  <div id="show-callback">
    <h3>Callback: <%= f.text_field :time, "data-provide" => 'datepicker' %></h3>
    <div class="row">
      <div class="col-md-5">
        <%= f.hidden_field :current_lead_id, :value => lead.id  %>
        <div class="form-group">
          <%= f.label :notes, 'Notes:' %>
          <%= f.text_area :notes %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.submit "Save Callback", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
