<table class="lead-breakdown">
  <thead>
    <tr><th>Source</th><th># leads</th><th>x dialed</th></tr>
  </thead>
  <tbody>
    <% @campaign.sources.each do |code| %>
      <% if @campaign.leads.unreached.valid.by_source(code).count > 0 %>
        <tr>
          <td><%= link_to code, campaign_lead_path(@campaign, @campaign.leads.unreached.valid.by_source(code).first) %>:</td>
          <td><%= @campaign.leads.unreached.valid.by_source(code).count %></td>
          <td><%= @campaign.leads.unreached.valid.by_source(code).average(:dial_count).floor %></td>
        </tr>
      <% end %>
    <% end %>
    <% if @campaign.leads.unreached.valid.day_leads.count > 0 %>
      <tr>
        <td><%= link_to "Day Leads", campaign_lead_path(@campaign, @campaign.leads.unreached.valid.day_leads.first) %>:</td>
        <td><%= @campaign.leads.unreached.valid.day_leads.count %></td>
        <td><%= @campaign.leads.unreached.valid.day_leads.average(:dial_count).floor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
