<div class="row">
  <div class="col-md-8">
    <h1><%= @campaign.name %><span class="year"><%= @campaign.year %></span></h1>
    <% if amt_leads(@campaign) == 0 %>
      <h2>No leads yet.</h2>
    <% else %>
      <h2>Total Leads: <%= amt_leads(@campaign) %></h2>
        <p>Dialed through an avarage of
        <%= all_leads(@campaign).average(:dial_count).floor %> times.</p>
        <h3>Breakdown by Source Code:</h3>
        <%= render partial: 'lead_breakdown', locals: { campaign: @campaign } %>
    <% end %>

    <h3>Latest Notes:</h3>
    <p><%= @campaign.notes %></p>
  </div>
  <div class="col-md-4">
    <% if policy(Lead).index? %>
      <h3><%= link_to "Index of Leads", campaign_leads_path(@campaign) %><h3>
    <% end %>
    <% if policy(Campaign).edit? %>
      <h3>Add Leads</h3>
      <%= form_tag import_leads_path, multipart: true do %>
        <%= hidden_field_tag :campaign_id, @campaign.id %>
        <%= file_field_tag :file %>
        <%= submit_tag "Upload" %>
      <% end %>

      <h3>Edit this Campaign</h3>
      <%= link_to "Update", edit_campaign_path(@campaign), class: 'btn btn-success' %>
      <%= link_to "Delete", @campaign, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this campaign and all leads?'} %>
    <% end %>
  </div>
</div>
