<h1><%= @campaign.name %><span class="year"><%= @campaign.year %></span></h1>
<p>Code: <%= @campaign.code %>, Callback #: <%= @campaign.callback_phone %>,
  Available: <%= @campaign.available %></p>
<p><%= @campaign.notes %></p>
