<h1><%= current_user.role.capitalize %> Control Panel</h1>

<%= render partial: 'search_results/search_form' %>

<hr/>
<h2>Current Room Goals:</h2>
<div class="row">
  <div class="col-md-7">
    <ul>
      <% Goal.where(individual: false).current.each do |goal| %>
        <li><%= goal.individual ? "Each person do" : "Room does" %> $<%= goal.amount %> <%= "in #{goal_campaign_name}" if goal.campaign_id %> <%= goal.weekly ? "this week" : "today" %> -
          <%= goal.weekly ? @room_week_total : @room_day_total %>/<%= goal.amount %> - <%= ((((goal.weekly ? @room_week_total : @room_day_total).to_f)/ goal.amount.to_f) * 100).round%>% </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5">
    <h4><%= link_to "Create/View Goals", admin_goals_path %></h4>
  </div>
</div>



<hr/>

<div class="row">
  <div class="col-md-4">
    <h3>Curent Individual Goals:</h3>
    <ul>
      <% Goal.where(individual: true).current.each do |goal| %>
        <li><%= goal.individual ? "Each person do" : "Room does" %> $<%= goal.amount %> <%= "in #{goal_campaign_name}" if goal.campaign_id %> <%= goal.weekly ? "this week" : "today" %>.</li>
      <% end %>
    </ul>
    <h4><%= link_to "Create/View Goals", admin_goals_path %></h4>
  </div>
  <div class="col-md-4">
    <h3>Totals for the week:</h3>
    <table class="goal-table">
      <thead>
        <tr>
          <th>User</th><th>Week</th><th>Goal: $<%= find_weekly_goal %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            <td>$<%= user.week_total %></td>
            <td><% if (user.week_total >= find_weekly_goal) %><span class="glyphicon glyphicon-ok"></span><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Totals for today:</h3>
    <table class="goal-table">
      <thead>
        <tr>
          <th>User</th><th>Today</th><th>Goal: $<%= find_daily_goal %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            <td>$<%= user.today_total %></td>
            <td><% if (user.today_total >= find_daily_goal) %><span class="glyphicon glyphicon-ok"></span><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr/>

<h3>Index of all leads</h3>
<p class="campaign-list">
  <% @campaigns.each do |campaign| %>
    <span><%= link_to campaign.name, campaign_leads_path(campaign) %></span>
  <% end %>
</p>

<% if current_user.admin? %>
  <h3>Edit Campaigns</h3>
  <p class="campaign-list">
    <% @campaigns.each do |campaign| %>
      <span><%= link_to campaign.name, edit_campaign_path(campaign) %></span>
    <% end %>
  </p>
  <h3>Import/Export leads to Campaigns</h3>
  <p class="campaign-list">
    <% @campaigns.each do |campaign| %>
      <span><%= link_to campaign.name, campaign_path(campaign) %></span>
    <% end %>
  </p>
  <%= link_to "Add a New Campaign", new_campaign_path, class: 'btn btn-primary' %>
<% end %>

<hr/>
