<!DOCTYPE html>
<html>

  <head>
    <title>LeadSnap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <ul class="nav nav-tabs">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Admin", "/admin", data: { 'no-turbolink' => true } %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign In", root_path %></li>
          <li><%= link_to "New User Signup", new_user_registration_path %></li>
        <% end %>
        <li><%= link_to "About", about_path %></li>
        <div class="pull-right user-info">
          <% if user_signed_in? %>
            Logged as: <strong><%= current_user.nickname %></strong> |
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          <% end %>
        </div>
      </ul>

      <div class="flash">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss"alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash.now[:alert] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:alert] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
